@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');
*
{
padding : 0;
margin : 0;
box-sizing : border-box;
font-family : 'Poppins', sans-serif;
}

body
{
display : flex;
flex-wrap: wrap;
height : 100vh;
justify-content : space-evenly;
align-items : center;
padding: 10px;
background-image: linear-gradient(-45deg, #20dbc2 0%, #00bfa6 100%);
background-repeat: no-repeat;
background-size: cover;
}

div.container
{
max-width : 700px;
width: 100%;
padding: 25px 30px;
border-radius: 5px;
background: whitesmoke;
box-shadow: 4px 5px 5px black;
}

div.container div.title
{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    margin-bottom: 15px;

}

div.container div.title::before
{
    content: "";
    position: absolute;
    height: 3px;
    width: 30px;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(-45deg, #20dbc2 0%, #00bfa6 100%);
}

.container form .user-details
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-details .input-box
{
    width:  calc(100% / 2 - 20px);
    margin-bottom: 15px;
}

.user-details .input-box input, .user-details .input-box select
{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border : 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box .details
{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;

}

.user-details .input-box:focus,
.user-details .input-box:valid
{
    border-color: black;

}

form .button
{
    height: 45px;
    margin: 45px 0;
}

form .button input
{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
    background-image: linear-gradient(-45deg, #20dbc2 0%, #00bfa6 100%);
    box-shadow: 3px 3px 3px black;
}

form .button input:hover
{
    background-image: url("../image/bg.png");
}


@media (max-width : 1350px)
{
    .svg
    {
        display: none;
    }
}

@media (max-width : 584px)
{

    .container
    {
        max-width : 100%;
    }
    form .user-details .input-box
    {
        margin-bottom: 15px;
        width:  100%;
    }
    form .gender-details .category
    {
        width: 100%;
    }
    .container form .user-details
    {
        max-height : 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar
    {
        width: 0;
    }

}