<!DOCTYPE html>
<html>
<head>
    {% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/créateur.css' %}" >
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	<title>Créateurs</title>
</head>
<body>

	<header>

		<nav>
         <input type="checkbox" id="check">
         <label for="check" class="checkbtn">
            <i class="fas fa-bars"></i>
         </label>
         <label class="logo">FAGARU</label>
           <ul>
                <li><a  href="../../patient">HOME</a></li>
               <li><a  href="../rendezvous">Rendez - vous</a></li>
                <li><a  href="../consultations">Consultations</a></li>
               <li><a href="../profil">Profil</a></li>
               <li><a href="../contact">Contactez-nous</a></li>

            </ul>
      </nav>

	</header>

	<main>

		<div class="about-section">
			<div class="inner-container">
				<h1>Qui somme nous ?</h1>
				<p class="text">
                    Passionnés et créatifs, nous sommes deux étudiants
                    engagés dans le plan de développement de notre pays. </br>
                    Nous sommes fiers de vous présenter notre site FAGARU, qui a pour but de
                    permettre aux utilisateurs d'organiser leur rendez-vous médicaux. Ce projet a pour but
                    de diminuer le temps d'attente afin d'améliorer la qualité du secteur médical.
                    N'hésitez pas à nous contacter pour plus d'informations.
                </p>
				   <div class="skills">
					<span>FAGARU</span>
					<span>Mouhamadou Ndiaye</span>
					<span>Pape Mouhamadou Mamoune Sock</span>
				</div>
			</div>
		</div>

	</main>

	<footer>
		 <div class = "container">
        <div class="row">

            <div class="footer-col">
                <h4>Réseaux sociaux</h4>
                <div class="socials-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>

            <div class="footer-col">
                <h4>A propos</h4>
                <ul>
                    <li><a href="">Créateurs du site</a></li>
                    <li><a href="#">Nos partenaires</a></li>
                </ul>
            </div>


        </div>
    </div>

	</footer>

</body>
</html>