<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/inscription_client.css' %}" >
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Inscription</title>
</head>

<body>

<div> <img class="svg" src="{% static 'image/login.svg' %}" height="600px" width="600px"></div>

<div class="container">
	<div class="title">Inscription</div>
	<form action="post" method="POST">
		{%csrf_token%}
		<div class="user-details">
			<div class="input-box">
				<span class="details">Prénom</span>
				{{firstname}}
			</div>
			<div class="input-box">
				<span class="details">Nom</span>
				{{lastname}}
			</div>

			<div class="input-box">
				<span class="details">Email</span>
				{{email}}
			</div>
			<div class="input-box">
				<span class="details">Téléphone</span>
				{{phone}}
			</div>
			<div class="input-box">
				<span class="details">Date de naissance</span>
				{{birthdate}}
			</div>

			<div class="input-box">
				<span class="details">Sexe</span>
				{{sexe}}
			</div>

			<div class="input-box">
				<span class="details">Région</span>
				{{region}}
			</div>
			<div class="input-box">
				<span class="details" id="villeForm" data-villes-url="{% url 'client:ajax_load_villes' %}">Ville</span>
				{{ville}}
			</div>



			<div class="input-box">
				<span class="details">Mot de passe</span>
				{{password1}}
			</div>

			<div class="input-box">
				<span class="details">Confirmer votre mot de passe</span>
				{{password2}}
			</div>

		</div>


		<div class="button">
			<input type="submit" value="Register">
		</div>
	</form>
</div>


</body>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

<script>
     $("#id_region").change(function () {
        const url = $("#villeForm").attr("data-villes-url");  // get the url of the `load_cities` view
        const regionId = $(this).val();  // get the selected country ID from the HTML input
        $.ajax({                       // initialize an AJAX request
            url: url,                    // set the url of the request (= /persons/ajax/load-cities/ )
            data: {
                'region_id': regionId       // add the country id to the GET parameters
            },
            success: function (data) {   // `data` is the return of the `load_cities` view function
                $("#id_ville").html(data);  // replace the contents of the city input with the data that came from the server
            }
        });
    });
</script>

</html>